<% if @name %>
<h1>My name is <%= @name %></h1>
<% else %>
  <form action = "/birthday" method = "post">
    Enter name: <input type = "text" name="name" />
    <input type="submit" value="Submit">
  </form>
<% end %>