<% if @name %>
<h1>My name is <%= @name %></h1>
<h3>My birthday is <%= @day %> / <%= @month %></h3>
<% else %>
  <form action = "/birthday" method = "post">
    Enter name: <input type = "text" name="name" /><br><br>
    <b>When is your birthday?</b><br><br>
    Enter day (1 - 31): <input type="number" name="day" min="1" max="31" /><br><br>
    Enter month (1 - 12): <input type="number" name="month" min="1" max="12" /><br><br>
    <input type="submit" value="Submit">
  </form>
<% end %>
